* {
    box-sizing: border-box;
    color: #ffffff;
    background-color: rgb(20, 20, 20);
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
}
h2{
   margin: 20px;
}
img{
    border-radius: 10px;
    width: 100%;
}
span{
    font-weight: bold;
    background: #3f3f3f;
    padding: 4px;
}

.meni {
    z-index: 2;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgb(58, 55, 55);
    font-size: 30px;
    background: black;
    position: fixed;
    width: 25%;
    text-align: center;
    height: 100%;
    margin: 0;
}
ul{
    padding: 0;
    background: black;
}
li{
border-radius: 6px;
    list-style-type: none;
    background: black;
    padding: 30px;
    margin:10px;
}

li:hover{
    background-color: rgb(20, 20, 20);
    
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
body{
    margin: 0;
}

.box{
    background: rgb(19, 19, 19);
    border-radius: 6px;
    padding: 10px;
    box-shadow: 4px 4px 4px rgb(58, 55, 55);
    color: #ffffff;
  }

 .boxil{
     padding: 0px;
      color:white;
      background: no-repeat;
      text-decoration: none;
  }
  .col-1{
      display: block;
      float: right;
      width: 75%;
  }
  .tekst{
      margin: 0;
      font-size: 6.5vw;
      padding: 5px;
      background: transparent;
  }
  .dodatak{
      position: absolute;
      right: 0;
    margin:0;
    font-size: 3.5vw;
    width: 40%;    
  }
  .header {
      display:block;
      text-align: center;
      background-image: url(knedla.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
  }
  .aside {
    text-align: start;
    padding: 15px;
    margin: 10px;
    margin-right: 6px;
    margin-top: 16px;
    box-shadow: 0 0 40px rgb(58, 55, 55);
}

.flex-container{
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    height: auto;
    display: flex;
}
.flex-container > div{
    padding: 4px;
    text-align: start;
    border-radius: 6px;
    background: #636262;
    width: 48%;
    margin: 3px;
    text-align: center;
}
.flex-container > div > p{
    background: #636262;
}
.dugme{
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    background: #636262;
    border-radius: 5px;
}
.dugme:hover{
    background: #888888;
}
.footer{
    padding: 0;
    display: block;
}
.footer >p >a:hover{
    color: #78837d;
    opacity: 0.6;
}

  @media only screen and (max-width: 720px) {
    .flex-container > div{
        width: 90%;
    }
    .col-1{
        margin-top: 150px;
        position: static;
        width: 100%;
    }
    .meni h1{
        margin: 0;
    }
    ul{
        margin: 0;
    }
  .meni{
      text-align: center;
      height: 130px;
     width: 100%; 
     font-size: 20px;
  }
  li{
      padding: 28px;
      margin-top:5px;
    font-size: 16px;
    float: left;
  }
  
  }
  @media only screen and (max-width: 496px) {
    .flex-container > div{
        width: 90%;
    }
    .col-1{
        margin-top: 120px;
        position: static;
        width: 100%;
    }
    .meni h1{
        margin: 0;
    }
    ul{
        margin: 0;
    }
  .meni{
      text-align: center;
      height: 100px;
     width: 100%; 
     font-size: 20px;
  }
  li{
    margin: 0;
      padding: 14px;
      margin-top:5px;
    font-size: 16px;
    width: 25%;
    float: left;
  }
  }